
<a href="/">Back to Messages</a>
<form method="POST" action="/new">
   put your inputs and buttons in here!

   <label for="name">Your User Name</label>
   <input id="name" name="name" type="text">

   <label for="message">Your Message</label>
   <input type="text" name="message" id="message">

   <button type="submit">Send</button>

</form>
